.gameboard__grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 30rem;
    width: 30rem;
}

.gameboard__grid__item {
    background-color: white;
    outline: 1px solid black;
}

.gameboard__grid__item:hover {
    opacity: .9;
}

.gameboard__grid__item--ship {
    background-color: blue;
}