.gameboard__grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 30rem;
    width: 30rem;
    grid-gap: 1px;
    background-color: black;
    border: 1px solid black;
}

.gameboard__grid__item {
    background-color: white;
}

.gameboard__grid__item:hover {
    opacity: .9;
}

.gameboard__grid__item--ship {
    background-color: blue;
}